body
{
    font: 15px arial,sans-serif;
    margin-left: 15px;
    margin-right: 5px; 
    margin-bottom: 0px;
    margin-top: 5px;
}

h1,h2
{
    font-size: 1.5em;
    color: #2e00be;
}

h3,h4,h5,h6 
{
    font-size: 1em;
    color: #2e00be;
}

td
{
    padding: 4px;
    font-size: 0.9em;
    margin-left: 15px;
    margin-right: 0px; 
    margin-bottom: 0px;
    margin-top: 0px;
}

tr
{
    margin-left: 15px;
    margin-right: 0px; 
    margin-bottom: 0px;
    margin-top: 0px; 
    padding: 3px;
}

th
{
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

.img_link
{
    border: 0px;
}

.no_decoration_link a:link, .no_decoration_link a:visited
{
    color: black; text-decoration:none;
}

.no_decoration_link a:hover
{
    color: #7777FF; text-decoration:none;
}

/* This style sheet from here will assist in modifying the look and feel of the CBEADS menu */

.cbeads_menu {
	font-size: 12px;
}

.cbeads_menu {
	background-color: #b1c2d6;
	margin: 0px;
}

.cbeads_menu a { 
	text-decoration: none;
	color: #767676;
	font-size: 12px;
}

.cbeads_menu td {
	padding: 0px;
}

.cbeads_menu .group_items_free a { 
	text-decoration: none;
	color: #767676;
	font-size: 16px;
} 

.cbeads_menu .click-menu {
	width: 175px;
	margin-left: 5px;
	margin-right: 5px;
}
		
.cbeads_menu .click-menu img {
	border: 0px;
}

.cbeads_menu .group_header img, .cbeads_menu .group_header-hover img {
	position: absolute;
	top: 6px;
	right: 6px;
}

.cbeads_menu .group_header {
	background-color: #C3CFDD;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	font-family: tahoma;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #849cb1;
	border-style: solid solid solid solid;
	cursor: pointer;
	position: relative;
	display: block;
}

.cbeads_menu .group_header-hover {
	background-color: #F2F2F2;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	font-family: tahoma;
	padding: 4px 8px;
	border-width: 1px;
	border-color: #849cb1;
	border-style: solid solid solid solid;
	position: relative;
	display: block;
	cursor: pointer;
}

.cbeads_menu .group_header_open {
	background-color: #F2F2F2;
}


.cbeads_menu .click-menu .group_items 
{
	background-color: #FFFFFF;
	font-family: arial;
	font-size: 12px;
	line-height: 15px;
	padding: 5px 5px 6px 5px;
	border-width: 1px;
	border-color: #849cb1;
	border-style: none solid solid solid;
	display: none;
}

.cbeads_menu .group_item-hover {
	background-color: #E3E3E3;
}


/* Style for the Version Number ($VERSION) shown on the menu */

#version 
{
  font-variant: small-caps;
  font-size: 1em; 
  font-weight: bold;
  color: #dee1e4;
}

/* Style for the default Error Messages (error_message) */
.error_message
{ 
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid red;
}

/* Style for the default Success Messages (success_message) */
.success_message
{ 
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid #1fff05;
}

/* Style for the default Warning Messages (warning_message) */
.warning_message
{ 
  margin: 0.5em;
  padding: 0.5em;
  border: 2px solid #f1dd0a;
}


/* The following styling is for the Renderer's menus and tables and forms. */

/* Form styling */

.tooltipTitle {
    font-weight: bold;
    color: #990000;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
}

.tooltipBody {
    font-size: 12px;
    padding-top: 5px;
}

.renderer_form_breadcrumb input
{
    padding: 2px 6px;
    border: 1px solid #d0d0d0;
    background-color: #DDDDFF;
    margin-right: 3px;
    margin-bottom: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-transition: border 0.5s linear;
}

.renderer_form_breadcrumb
{
    border-bottom: 1px solid #d0d0d0;
}

.renderer_form_breadcrumb .renderer_form_active_breadcrumb
{
    color:red;
}


/* Table styling */
.renderer_table
{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #AAAAAA;
}

.renderer_table th
{
    border-left: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    border-bottom: 2px solid #BBBBBB;
    padding: 2px;
    font-size: 1em;
    text-align: center;
}

.renderer_table td
{
    border: 1px solid #BBBBBB;
    padding: 2px;
	font-size: 0.8em;
}

.renderer_table tr.datarow:hover
{
    background-color: #DDDDFF;
}

.renderer_table a:link{ color: black; text-decoration:none;}
.renderer_table a:visited{ color: black; text-decoration:none;}
.renderer_table a:hover{ color: #7777FF; text-decoration:none;}

.renderer_table_sort_header:hover{ color: #7777FF;}
.renderer_table_sort_header
{
    border: 0px;
    font: bold 1em arial, sans-serif;
    text-decoration: none;
    color: black;
	background-color: transparent;
}

.renderer_table_active_page
{
    display:block;
    float:left;
    padding:2px 6px;
    border:1px solid #ff9999;
    background-color: #FFFFFF;
    margin-right:1px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-transition: border 0.5s linear;
}
.renderer_table_pager
{
    display:block;
    float:left;
    padding:2px 6px;
    border:1px solid #d0d0d0;
    background-color: #FFFFFF;
    margin-right:1px;
    text-decoration:none;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -webkit-transition: border 0.5s linear;
}
#renderer_table_pager_controls a:link, #renderer_table_pager_controls a:visited{ color: black; }
#renderer_table_pager_controls input:hover, #renderer_table_pager_controls a:hover{ color: black; border:1px solid #0D3247;}


.renderer_table .ct_th_button, .renderer_table .ct_button
{
    border: 0px;
    background-color: transparent;
    font: bold 1em arial;
}

.renderer_table .ct_controller_button
{
    border: 0px;
    background-color: transparent;
    font: 1em arial;
}

.renderer_table .ct_controller_button:hover
{
    cursor: pointer;
}

.renderer_table .ct_controller_td
{
    text-align: center;
}


/* Menu tabs styling */

.renderer_menu
{
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#E3E3E3;
    height:37px;
    padding:0;
    width:100%;
}

.renderer_menu ul
{
    padding:10px 6px 0;
    margin: 0px;
}

.renderer_menu ul li
{
    display:inline;
}

.renderer_menu ul li a.current, .renderer_menu ul li a.current:hover
{
    background-color:#FFFFFF;
    cursor:pointer;
}

.renderer_menu ul li a
{
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    background-color:#D0D0D0;
    color:#555555;
    display:block;
    float:left;
    height:15px;
    margin:0 4px;
    padding:6px 18px;
    text-decoration:none;
    text-shadow:0 1px 1px #FFFFFF;
}

.renderer_menu ol, ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.renderer_menu div
{
    padding:10px 10px 0;
}
